

h1 {
    text-align: center;
}

h2 {
    font-family: 'calibri'
}

p {
    font-family: 'calibri';
    font-size: 20px;
    align-content: center;
    }

h3 {
    margin-top: 5px;
    white-space:pre;
    color: white;
    text-align: center
}



.navbar {
    background-color:steelblue;
}


.navbar .nav li a{
    color: white;
    font-family: 'calibri';
    font-size: 20px;
    letter-spacing: 4px;
    
}

  .navbar .navbar-brand {
    color: white;
    font-size:30px;
    
  }
     
  .navbar {
      
      border-radius:0px;
      border-color:steelblue;
  }

.jumbotron{
    height: 400px;
    background-color: steelblue;
    margin-top:-25px;
}

#jumboEmail {
    font-style: italic;
    font-size: 18px;
    font-family:  'Calibri';
    border-radius: 5px;
    border-color:white;
    height: 37px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;

    
}

#btn1 {
    margin-left: 78px;
    font-size: 17px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

#f1 {
    text-align: center;
    margin-left: -50px;
}

#i1 {
     font-size: 200px;
    
}
